{% extends 'base.html.twig' %}

{% block title %}Edit ReaccionComentario{% endblock %}

{% block body %}
    <h1>Edit ReaccionComentario</h1>

    {{ include('reaccion_comentario/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_reaccion_comentario_index') }}">back to list</a>

    {{ include('reaccion_comentario/_delete_form.html.twig') }}
{% endblock %}
